default_language_version:
  python: python3.10
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
    exclude: CHANGELOG\.md
  - id: check-yaml
  - id: check-toml
  - id: check-added-large-files
    args: ["--maxkb=1500"]
  - id: check-case-conflict
  - id: check-json
  - id: check-merge-conflict
  - id: debug-statements
  - id: requirements-txt-fixer
    files: ^requirements(-dev)?.txt$
- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: 'v0.4.3'
  hooks:
  - id: ruff
    args: [--fix, --exit-non-zero-on-fix]
  - id: ruff-format
- repo: https://github.com/pycqa/bandit
  rev: "1.7.8"
  hooks:
  - id: bandit
    args: ["-r", "-ll", "-ii"]
    exclude: ^tests/
- repo: https://github.com/asottile/pyupgrade
  rev: v3.15.2
  hooks:
  - id: pyupgrade
    args: ["--py310-plus"]
- repo: local
  hooks:
  - id: mypy
    name: mypy
    entry: mypy --config pyproject.toml
    types: [python]
    language: system
    require_serial: true
    pass_filenames: false
    exclude: ^(\.|venv/)
